* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgb(137, 170, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-container {
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  margin: 60px auto;
  background-color: rgb(66,195,195);
  max-width: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.search {
  margin-top: 15px;
}

.search button {
  margin-left: -60px;
}

.searchbox {
  display: flex;
}

.namesearch {
  padding-left: 70px;
}

.searchbox input {
  border: none;
  outline: 0;
  padding: 12px 25px;
  font-size: 18px;
  color: black;
  border-radius: 30px;
  flex: 1;
  margin-right: 12px;
}

.searchbox button {
  border: none;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  margin-top: -2.5px;
  background-color: white;
}

.searchbox button img {
  width: 30px;
}

.weather-header {
  display: flex;
  justify-content: space-between; 
}

.winfo {
  text-align: left;
  margin-top: 20px;
}

.winfo .icon {
  margin-top: 20px;
  width: 170px;
}
 
.winfo h1 {
  font-size: 70px;
  font-weight: 500;
  margin-top: 5px;
}

.winfo h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -40px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 50px;
}

.details .col {
  display:flex;
  align-items: center;
  text-align: left;
}

.details .col img {
  width: 45px;
  margin-right: 10px;
}

.humidity, .wind {
  font-size: 27px;
}

.humidity p, .wind p {
  margin: 0px;
}

.error {
  color: rgb(235, 169, 169);
  text-align: left;
  margin-left: 10px;
}

.weather-footer__wind img {
  width: 40%;
}

.weather-footer__wind  {
  margin-top: 45px;
  padding-left: 70px;
}

.weather-footer__wind h3 {
  font-size: 40px;
  text-align: center;
}

.weather-footer__humidity {
  margin-top: 45px;
}

.weather-footer__humidity img {
  width: 40%;
}

.weather-footer__main h1 {
  text-align: center;
}

.weather-footer__main h2 {
  text-align: center;
}

.weather-footer__main img {
  text-align: center;
  width: 90%;
}

.weather-footer {
  display: flex;
  padding-top: 50px;
}

.weather-header-current-date {
  text-align: right;
  padding-left: 70px;
}
